p
  label(class=titleCSS ? 'error' : '' for="title") Title:
  input(class=titleCSS ? 'errorInput' : '' type="text" id="title" name="title" value=book.title)
p
  label(class=authorCSS ? 'error' : '' for="author") Author:
  input(class=authorCSS ? 'errorInput' : '' type="text" id="author" name="author" value=book.author)

p
  label(for="genre") Genre:
  input(type="text" id="genre" name="genre" value=book.genre)

p
  label(for="year") Year:
  input(type="text" id="year" name="year" value=book.year)
p
  input(type="submit")
  a(class="button" href="/books") Cancel  