- var currP = parseFloat(data.currPage);
- var totalPages = parseFloat(data.pageCount);
- var nextPage = -1;
- var prevPage = -1;


if currP !== totalPages
  - nextPage = currP + 1;

if currP !== 1
  - prevPage = currP - 1;

ul
if prevPage !== -1 && currP && totalPages
  li(class="liHorizontal")
    a(class="buttons previous round" href=`/books/?c=${totalPages}&p=${prevPage}&q=${data.searchTerm}`) &#8249;


if nextPage !== -1 && currP && totalPages
  li(class="liHorizontal")
    a(class="buttons next round" href=`/books/?c=${totalPages}&p=${nextPage}&q=${data.searchTerm}`) &#8250;

if nextPage !== -1 || prevPage !== -1
  li(class="liHorizontal")
    i(class="paginationLabel")= `Showing page ${currP} of ${totalPages}`

//- p= `currPage: ${data.currPage}`
//- p= `itemsPerPage: ${data.itemsPerPage}`
//- p= `totalRecords: ${data.totalRecords}`
//- p= `pageCount: ${data.pageCount}`
