- var currP = parseFloat(data.currPage);
- var totalPages = parseFloat(data.pageCount);
- var nextPage = -1;
- var prevPage = -1;


if currP !== totalPages
  - nextPage = currP + 1;

if currP !== 1
  - prevPage = currP - 1;


if nextPage !== -1 && currP && totalPages
  p
    a(class="buttons" href=`/books/?c=${totalPages}&p=${nextPage}&q=${data.searchTerm}`) next


if prevPage !== -1 && currP && totalPages
  p
    a(class="buttons" href=`/books/?c=${totalPages}&p=${prevPage}&q=${data.searchTerm}`) prev

p= `currPage: ${data.currPage}`
p= `itemsPerPage: ${data.itemsPerPage}`
p= `totalRecords: ${data.totalRecords}`
p= `pageCount: ${data.pageCount}`
